body {
  background-color: black;
}

a {
  color: red;
}

p {
  font-family: "Palatino Linotype";
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

a[href$=".com"] {
  color: red;
}

* {
  color: white;
}

thead {
  text-align: center;
  font-size: 18px;
}

table {
  text-align: center;
}

tfoot {
  font-weight: bold;
  font-size: 18px;
  text-align: center
}

ul {
  background-color: black;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

.carshortdescriptions {
  text-align: center;
}

#homepagepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 25px;
}

#modelspic {
  border: 3px solid white;
}

#modelxpic {
  border: 3px solid white;
}

#model3pic {
  border: 3px solid white;
}

a:hover {
  color: blue;
}

table, th, td {
    border-collapse: collapse;
    border: 0.5px solid white;
}

footer {
  text-align: center;
}
